<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>Vue List and Conditional Content</title>
  </head>
  <body>
    <section>
      <div class="container">
        <h2 class="header">Vue List and Conditional Content</h2>
        <h4 class="sub_header">Assignment</h4>
        <div class="common_items">
          <input type="text" class="input_style" v-model="inputValue" />
          <button class="btn btn_small" v-on:click="addGoal()">Add Task</button>
        </div>
        <ul v-if="taskVisibleValue">
          <li class="list_items" v-for="goal in goals" :key="goal">{{goal}}</li>
        </ul>
        <button class="btn btn_big" v-on:click="toggleTaskList">
          {{buttonCaption}}
        </button>
      </div>
    </section>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="script.js"></script>
  </body>
</html>
